.ext-home-ideas
  @import './*/**/styles'
  &.user-logged
    @media (max-width: 400px)
      margin-top: 140px
        
  button
    border: none
    margin-right: .5em

  .search-proyecto-wrapper
    margin: 30px 0
    display: flex;
    .search-proyecto-select
      width: 100%
    button
      width: 150px;
      &[disabled]
        cursor: not-allowed;
        color: #777;

  .more-topics
    width: 100%
    padding: 0 0 20px 0
    text-align: center
    button
      cursor: pointer
      margin: 6px
      width: 180px
      border-radius: 5px
      padding: 0.8rem
      background-color: #099dc3
      color: #fff
      border: none
      font-size: 20px
      text-transform: uppercase

  .notice
    h1
      margin: 0;
      font-size: 1.25rem;
      padding: 0
      font-weight: 200
    margin: -1.5em auto 0em
    padding: 15px 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #4A4A4A
    color: white
    text-align: center;
    z-index: 1;
    width: 80%;
    @media(max-width: 767px)
      padding: 15px

  .alert-duedate
    display: block
    float:left
    font-size: 0.9em
    color: #666
    margin: 15px
    font-style: italic
    max-width: 345px
    @media screen and (min-width: 600px)
      padding-top:30px

  .topics-container
    padding-bottom: 200px;
    background-size: contain;
    @media (max-width: 980px)
      background-position: right 0px bottom -80px;
      padding-bottom: 160px
    @media (max-width: 650px)
      background-position: right 0px bottom -50px;
      padding-bottom: 100px
    @media (max-width: 400px)
      background-position: right 0px bottom -40px;
  .title-sort
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    @media (max-width: 767px)
      flex-wrap: nowrap
    .topics-title
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 60px
      color: #000
      margin-top: 0
      display: inline-block
      width: 50%
      @media (max-width: 500px)
        margin-bottom: 20px
    .topics-filters
      .topics-filter
        display: inline-block;
        &.topics-state-filter
          margin-bottom: 5px
        &.topics-sort-filter
          clear: both;
          @media (max-width: 767px)
            display: grid
            grid-template-columns: repeat(2, 1fr);
        span
          grid-column: 2 / 2;
        .btn-sort-filter
          grid-row: 2
        @media (max-width: 500px)
          float: none
          margin-bottom: 20px
          span
            margin-bottom: 10px
            display: block
        span
          font-size: 14px;
          color: #000
          margin-right: 10px
        .btn-sort-filter
          color: principal-color;
          font-size: 12px
          font-weight: 500
          padding: 6px 14px
          border: solid 1px principal-color;
          margin: 0
          border-top-right-radius: 50px
          border-bottom-right-radius: 50px
          background-color: white
          .glyphicon
            display: none
          &:first-of-type
            border-right: none
            border-top-right-radius: 0
            border-bottom-right-radius: 0
            border-top-left-radius: 50px
            border-bottom-left-radius: 50px
          &.active
            background-color: principal-color;
            color:#fff
            border: solid 1px principal-color;
            .glyphicon
              display: inline
              display: inline;
              margin-right: 5px;
              color: #fff;
              font-size: 12px
              
  .dialog-votacion
    padding-left: 34px
    padding-right: 34px
    box-sizing: border-box;
    z-index: 999
    top: 15%
    max-width: 90%
    min-width: 40%     
    background: #FFFFFF;
    border: 3px solid principal-color;
    border-radius: 20px;
    overflow-y: initial !important
    p.intro
      margin-top: 4vh
    button.btn-aceptar
      align-items: center;
      padding: 10.4498px 39.3876px;

      background: principal-color;
      border-radius: 25.7225px;
      color: white
    span
      text-transform: uppercase
      font-family: 'Museo300', sans-serif
      font-size: 25px  
      float: right;
      font-weight: bold;
    span:hover,
    span:focus
      color: black;
      text-decoration: none;
      cursor: pointer;
  a.proyectos-button
    color: principal-color
    text-align: center;
    margin-top: 30px;
    //box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.25);
    border: 1px solid principal-color;
    padding: 10px 30px
    border-radius: 50px
    &:hover,&:focus
      color:white
      background: principal-color
    &:focus
      outline: 1px solid #333